.productinfo{
    margin-top: 120px;
    &__images{
        width: 40%;
        height: 450px!important;
        background-color: green;
    }
    &__description {
        width: 60%;
        height: 450px!important;
        background-color: greenyellow;
    }
}